@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap');

@import url(./reset.css);

* {
    padding: 0;
    margin: 0;
}

ul,
li {
    list-style: none;
}

a {
    text-decoration: none;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

html {
    overflow: hidden;
}
html,
body {
    width: 100vw;
    height: 100vh;
}


header {
    width: 100%;
    position: fixed;
    z-index: 99;
}

header nav {
    /* display: block; */
    width: 75vw;
    height: 10vh;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    padding-top: 4vh;
    box-sizing: border-box;
}
.logo1,.logo2{
    display: none;
}
.logo{
    width: 100px;
}
.logo .logoimg{
    width: 100%;
    height: 100%;
}
.on{
    display: block;
}
.menu {
    display: flex;
}
.menu li>a {
    color: #fff;
    font-size: 18px;
    font-family: 'Roboto', sans-serif;
}
.menu a::after{
    display: block;
    content: '';
    border-bottom: 2px solid #fff;
    transform: scaleX(0); /* 평소에는 보더 효과 감추기*/
    transition: transform 250ms ease-out;
    transform-origin: left;
}
.menu a.ss::after{
    display: block;
    content: '';
    border-bottom: 2px solid #0C205C;
    transition: transform 250ms ease-out;
    transform-origin: left;
}
.menu a:hover::after{
    transform: scaleX(1);
}

.menu li:not(:last-child) {
    margin-right: 3vw;
}
.menu li:not(:last-child) {
    margin-right: 3vw;
}

.section {
    width: 100vw;
    height: 100vh;
    position: relative;
    overflow: hidden;
}

.s2 {
    background-color: #fff;
}

.s3 {
    background: url(../images/main-images/섹션3백그라운드.png) no-repeat;
    background-position: center;
    background-size: cover;
}

.s4 {
    background-color: #0C205C;
}

.s5 {
    background-color: #fff;
}
.m-menu{
    display: none;
}
.m-page1{
    width: 60%;
    height: 100vh;
    background-color: #fff;
    right: -70%;
    position: fixed;
    z-index: 98;
    transition: all 0.5s;
    box-shadow: 1px 1px 10px#373C44;
  }

footer {
    width: 100vw;
    height: 60vh;
    overflow: hidden;
    background-color: #373C44;
    padding: 80px 0; 
     box-sizing: border-box;
}

/* s1 */

#myVideo {
    width: 100%;
    height: 100%;
    position: absolute;
    right: 0;
    bottom: 0;
    top: 0;
    right: 0;
    z-index: 3;
    background-size: contain;
    background-position: center;
    object-fit: cover;
}

.inner {
    width: 75vw;
    height: 100vh;
    margin: 0 auto;
    position: relative;
    z-index: 4;
}

.bg_title {
    position: absolute;
    top: 30vh;
}

.bg_title h2 {
    font-size: 60px;
    line-height: 79px;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    color: #C7D9FF;
}

.bg_title h4 {
    margin-top: 30px;
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 30px;
    line-height: 44px;
    font-weight: bold;
    color: #fff;
}
.bg_title p{
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 18px;
    line-height: 32px;
    font-weight:normal;
    color: #fff;
    margin-top: 10px;
}
/* s2 */
.s2>h1{
    position: absolute;
    top: 20px;
    font-size: 300px;
    font-weight: bold;
    font-family: 'Roboto', sans-serif;
    color: #E3E3E3;
}
.s2 .inner{
    display: flex;
    justify-content: space-between;
    /* flex-wrap: wrap; */
    align-items: center;
}
.bg_title2{
    /* width: 25%; */
}
.bg_title2>h2 {
    font-size: 25px;
    font-weight: bold;
    font-family: 'Noto Sans KR', sans-serif;
    color: #0047D5;
    line-height: 40px;
}
.swipe_container{
    /* width: 25%; */
    text-align: right;
}
.swipe_slidetxt:not(:first-child){
    margin-top: 20px;
}
.swipe_slidetxt>h2 {
    font-size: 35px;
    font-weight: bold;
    font-family: 'Roboto', sans-serif;
    color: #E3E3E3;
    color: inherit;
}

.active h2 {
    color: #0047D5;
    color: inherit;
}

.slideswiper{
    width: 50%;
    height: 50%;
    /* width: 750px;
    height: 450px; */
    position: relative;
}
.slide_wrap{
    transition: all 0.5s ease-out;
}
.slide_box{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 99;
    width: 100%;
    /* background-color: #0047D5; */
}
.slide_box img{
    max-width: 100%;
}
.slide_box h1{
    position: absolute;
    top: 0;
    left: 0;
}



/* s3 */
.tab_box{
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 4vh;
}
.list{
    width: 24%;
    height: 35vh;
    background-color: #0047D5;
    padding: 30px 30px;
    box-sizing: border-box;
    position: relative;
    opacity: 0.8;
    transition: all 0.5s;
    cursor: pointer;
}
.list:hover{
    opacity: 1;
}
.list a>h3 {
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 28px;
    color: #C7D9FF;
    font-weight: bold;
}
.list a p {
    font-family: 'Noto Sans KR', sans-serif;
    line-height: 24px;
    font-size: 16px;
    font-weight: 400;
    color: #fff;
}
.list span {
    margin: 10px 0;
    width: 100%;
    height: 1px;
    display: block;
    background-color: #fff;
}
.more {
    position: absolute;
    bottom: 30px;
    left: 30px;
    font-size: 16px;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    color: #fff;
}


/* s4 */
.container{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    background-color: #0C205C;
    background-image: url(../images/main-images/HMM운항\ 지도.png);
    background-attachment: fixed;
}
.container.animated {
    transition: 0.5s ease-out;
  }
.slide{
    width: 100vw;
    height: 100vh;
    float: left;
    padding-top: 30vh;
    box-sizing: border-box;
    position: relative;
}
.left{
    width: 45%;
    height: 100vh;
    float: left;
}

.left h2{
    font-size: 45px;
    line-height: 59px;
    font-weight: bold;
    font-family: 'Roboto', sans-serif;
    margin-bottom: 10px;
    color: #C7D9FF;
}
.left p{
    font-size: 18px;
    line-height: 32px;
    font-family: 'Noto Sans KR', sans-serif;
    line-height: 32px;
    color: #fff;
}
.right{
    width: 50%;
    height: 100vh;
    float: right;
}
.right img{
    max-width: 100%;
    float: right;
}
.slide_btn{
    position: absolute;
    bottom: 18vh;
    left: 12.5vw;
    z-index: 5;
    display: flex;
}
.prev, .next{
    display: block;
    cursor: pointer;
    width: 45px;
    height: 45px;
    border: none;
    font-size: 0;
}
.prev{
    background: url(../images/main-images/그룹\ 3.svg) no-repeat;
}
.next{
    background: url(../images/main-images/그룹\ 2.svg) no-repeat;
    margin-left: 3vw;
}

  /* s5 */
  .s5 .bg_title{
    position: absolute;
    top: 30vh;
    left: 50%;
    transform: translate(-50%,-20%);
    text-align: center;
  }
  .s5 .bg_title p{
    font-size: 18px;
    line-height: 26px;
    font-family: 'Noto Sans KR', sans-serif;
    color: #707070
  }

  .item-list{
    margin-top: 50px;
    width: 75vw;
    height: 500px;
    display: flex;
  }
 .item-list li{
    width: 25%;
    height: 100%;
    display: block;
    cursor: pointer;
    position: relative;
    background-color: #0047D5;
    opacity: 0.8;
    transition: all 0.5s;
 }
 .item-list li>a{
    width: 100%;
    height: 100%;
    display: block;
 }
 .item-list li:hover{
    opacity: 1;
    /* transition: all 0.5s; */
 }
 .t-box{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: left;
 }
 .t16{
    font-size: 16px;
    font-weight: bold;
    font-family: 'Noto Sans KR', sans-serif;
    color: #fff;
 }
 .t-box h3 {
    font-size: 30px;
    font-weight: bold;
    font-family: 'Roboto', sans-serif;
    color: #fff;
}
#container {
    background: url(../images/main-images/container.png) no-repeat;
    background-size: cover center;
}

#tank {
    background: url(../images/main-images/tank.png) no-repeat;
    background-size: cover center;
    background-position: center;
}

#bulk {
    background: url(../images/main-images/bulk.png) no-repeat;
    background-size: cover center;
    background-position: left;
}

#tramp {
    background: url(../images/main-images/tramp.png) no-repeat;
    background-size: cover center;
    background-position: -150px;
}

/* footer */
.ftmenu{
    width: 100%;
    overflow: hidden;
    display: flex;
}
.ftmenu li{
    display: block;
    width: 25%;
}
.ftmenu li>a{
    font-size: 18px;
    font-family: 'Roboto', sans-serif;
    color: #fff;
}
.sbmenu{
    margin-top: 30px;
    width: 100%;
}
.sbmenu li{
    display: block;
    width: 100%;
    line-height: 30px;
}
.sbmenu li>a{
    /* display: block;
    width: 100%; */
    font-size: 16px;
    font-family: 'Roboto', sans-serif;
    color: #707070;
    text-align: left;
}
.ftbtm{
    width: 100%;
    height: 10vh;
    margin-top: 130px;
    display: flex;
    justify-content: space-between;
}
.ftmenu2{
    width: 70%;
display: flex;
justify-content: space-between;
}
.ftmenu2 li{
    display: block;
}
.ftmenu2 li>a{
    font-size: 14px;
    font-weight: 300;
    font-family: 'Roboto', sans-serif;
    font-family: 'Noto Sans KR', sans-serif;
    color: #707070;
    text-align: left;
}
.snsbox{
    display: flex;
}
.snsbox li:not(:last-child){
    margin-right: 30px;
}